@import 'base';

$fa-font-path: "~font-awesome/fonts";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import '~font-awesome/scss/font-awesome';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  #root {
    height: 100%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
